* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width:100%;
}

@font-face {
    font-family: 'Poppin';
    src: url('https://fonts.google.com/specimen/Poppins');
}

html {
    background-color:  hsl(0, 100%, 74%);
    background-image: url("images/images/bg-intro-desktop.png");
}

body {
    padding: 3em;
    font-family: 'Poppin', Courier, monospace;
    color: hsl(249, 10%, 26%);
}

main {
    display: flex;
    flex-direction: row;
}

form {
    background-color: white;
    padding: 2em;
    border-radius: 16px;
}

h1{
    margin-bottom:0.5em;
     padding: 0.5em;
     font-size: 50px;
     font-weight: 400 500 600 700;
}

div{
    margin-bottom: 2em;
    padding: 0.4em;
    border: none;
    text-align: center;
    background-color:  hsl(248, 32%, 49%);
    border-radius: 16px;
    color: white;
    box-shadow:5px 10px hsla(240, 2%, 47%, 0.445);
}

h4{
    padding: 0.2em;
}

p{
    margin-bottom: 1em;
}


#box1 {
    align-self: center;
    color: white;
    font-weight: 400, 500, 600, 700;
}

#box1,#box2 {
    padding: 2em;
}

input{
    padding: 0.5em;
    font-family: 'Poppin', Courier, monospace;
}

@media only screen and (max-width: 844px){
 main {
         flex-wrap: wrap;
         align-self: center;
    }

    #box1{
        align-self: center;
    }

    input {
        margin: 1em;
    }
}


@media only screen and (max-width: 375px) {

    main {
         flex-wrap: wrap;
         align-self: center;
    }

    #box1{
        align-self: center;
    }

    input {
        margin: 1em;
    }
}
    